<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>

<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Compra</h4>
							</div>
							<div class="content">
								<h:form>
									<div class="row">
										<div class="col-md-6">
											<h:outputLabel value="Data :" for="data" />
											<h:inputText id="data"
												value="#{comprasController.compra.data.time}"
												class="form-control">
												<f:convertDateTime pattern="yyyy-MM-dd"
													timeZone="America/Sao_Paulo" />
												<f:passThroughAttribute name="type" value="date" />
											</h:inputText>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Valor</label>
												<h:inputText class="form-control" type="text"
													value="#{comprasController.compra.preco_total}">

												</h:inputText>
											</div>
										</div>

									</div>
									
									<div class="row">
										
										<div class="col-md-3">
											<label>Ingredientes da Compra</label>
											<h:selectManyMenu id="tipo" class="form-control custom-select"
												value="#{comprasController.ingredientes}">
												<f:selectItems value="#{comprasController.todosIngredientes}"
													var="ing" itemLabel="#{ing.nome}" itemValue="#{ing.id}" />
											</h:selectManyMenu>
										</div>
								
									</div>

									<h:commandButton value="Gravar"
										class="btn btn-success btn-fill pull-right btn-sm"
										action="#{comprasController.gravar}">

									</h:commandButton>
									<div class="clearfix"></div>

								</h:form>
							</div>

						</div>

					</div>
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Compras</h4>
							</div>
							<div class="card-body">
								<div class="content table-responsive table-full-width">
									<h:form>
										<h:dataTable var="c"
											class="table table-hover table-striped table-responsive-sm"
											value="#{comprasController.todasCompras}">
											<h:column>
												<f:facet name="header">Data</f:facet>
												<h:outputText value="#{c.data.time}">
													<f:convertDateTime pattern="dd/MM/yyyy"
														timeZone="America/Sao_Paulo" />
												</h:outputText>
											</h:column>

											<h:column>
												<f:facet name="header">Valor</f:facet>
												<h:outputText value="#{c.preco_total}"></h:outputText>
											</h:column>
											<h:column>
												<f:facet name="header">Atualizar</f:facet>
												<h:commandButton value="Atualiza"
													action="#{comprasController.atualizar(c)}"
													class="btn btn-primary btn-fill btn-sm" />
											</h:column>
											<h:column>
												<f:facet name="header">Excluir</f:facet>
												<h:commandButton value="Excluir"
													action="#{comprasController.remover(c)}"
													class="btn btn-danger btn-fill btn-sm" />
											</h:column>

										</h:dataTable>
									</h:form>
								</div>
								<div class="row content">
									<div class="header">
										<h5 class="title pull-right">
											Total : R$ <h:outputText value="#{comprasController.compras()}"></h:outputText>
											</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>

	</div>
</h:body>

</html>