<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />

</h:head>
<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">
				<div class="container-fluid"></div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>
	</div>


</h:body>



</html>
