<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>

<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Ingredientes </h4>
								<div class="row">
										<div class="col-md-6">
										
											<div class="form-group">
												<h:outputLabel value="Nome" for="nome"/>
														<h:inputText id="imagem" 
														value="#{imagensController.imagem.imagem}"
														required="true"
														requiredMessage="campo obrigatório.">
															<f:passThroughAttribute name="placeholder"
															value="Digite o produto"/>
															
														</h:inputText>	
											</div>
											
											<div class="form-group">
												<h:outputLabel value="descricao" for="descricao"/>
														<h:inputText id="imagem" 
														value="#{imagensController.imagem.descricao}"
														required="true"
														requiredMessage="campo obrigatório.">
															<f:passThroughAttribute name="placeholder"
															value="Digite a descrição"/>
															
														</h:inputText>	
											</div>
					
										
											
											</div>
									
											
											<div class="form-group">
												<h:commandButton value="Gravar" 
														action="#{ingredientesController.gravar}">	
														</h:commandButton>
											</div>
											
											
											
										</div>
										
										
									</div>
								
								
								
								
								
							</div>
							<div class="card-body">
								<div class="content table-responsive table-full-width">
									<table class="table table-hover table-striped">
										<thead>
											<tr>
												<th>ID</th>
												<th>Nome</th>
												<th>Quantidade</th>
												<th>Unidade de Medida</th>
											</tr>
										</thead>
										<tbody>
											
											
											
											
											<tr>
												<td>6</td>
												<td>Mason Porter</td>
												<td>$78,615</td>
												<td>Chile</td>
		
											</tr>
											
											
										</tbody>
									</table>
									
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>
	</div>


</h:body>

</html>