<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>

<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Ingrediente</h4>
							</div>
							<div class="content">
								<h:form>
									<div class="row">
										<div class="col-md-6">
											<h:outputLabel value="Nome" for="nome" />
											<h:inputText id="nome" class="form-control"
												value="#{ingredientesController.ingrediente.nome}"
												required="true" requiredMessage="Nome obrigatório.">
											</h:inputText>
											<f:passThroughAttribute name="placeholder"
												value="Digite o Nome" />
										</div>


										<div class="col-md-3">
											<h:outputLabel value="quantidade" for="quantidade" />
											<h:inputText id="quantidade" class="form-control"
												value="#{ingredientesController.ingrediente.quantidade}"
												required="true" requiredMessage="Quantidade obrigatória.">
											</h:inputText>
											<f:passThroughAttribute name="placeholder"
												value="Digite a quantidade" />
										</div>

										<div class="col-md-3">
											<div class="form-group">
												<h:outputLabel value="unidade" for="unidade" />
												<h:selectOneMenu id="unidade"
													value="#{ingredientesController.unidmedidaId}"
													class="form-control custom-select">
													<f:selectItem itemLabel="Selecionar"
														noSelectionOption="true" />
													<f:selectItems
														value="#{ingredientesController.todasUnidades}"
														var="unidade" itemLabel="#{unidade.sigla}"
														itemValue="#{unidade.id}" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>
									
										<h:commandButton value="Gravar"
											class="btn btn-success btn-fill pull-right btn-sm"
											action="#{ingredientesController.gravar}">

										</h:commandButton>
										<div class="clearfix"></div>
									
								</h:form>
							</div>

						</div>

					</div>
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Ingredientes</h4>
							</div>
							<div class="card-body">
								<div class="content table-responsive table-full-width">
								<h:form>
									<h:dataTable var="i"
										class="table table-hover table-striped table-responsive-sm"
										value="#{ingredientesController.todosIngredientes}">
										<h:column>
											<f:facet name="header">Nome</f:facet>
											<h:outputText value="#{i.nome}" />
										</h:column>

										<h:column>
											<f:facet name="header">quantidade</f:facet>
											<h:outputText value="#{i.quantidade}"></h:outputText>
										</h:column>
										<h:column>
											<f:facet name="header">Unidade</f:facet>
											<h:outputText value="#{i.unidade.descricao}"></h:outputText>
										</h:column>

										<h:column>
											<f:facet name="header">Atualizar</f:facet>
											<h:commandButton value="Atualiza"
												action="#{ingredientesController.carregar(i)}"
												class="btn btn-primary btn-fill btn-sm" />
										</h:column>
										<h:column>
											<f:facet name="header">Excluir</f:facet>
											<h:commandButton value="Excluir"
												action="#{ingredientesController.remover(i)}"
												class="btn btn-danger btn-fill btn-sm" />
										</h:column>

									</h:dataTable>
									</h:form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>

	</div>
</h:body>

</html>