<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	
	<div class="sidebar" data-color="marrom"
			data-image="resources/img/fundo.jpg">

			<div class="sidebar-wrapper">
				<div class="logo">
					<a class="simple-text"> Nanny Truffas</a>
				</div>
				<ul class="nav">
					<li class="active"><a href="dashboard.xhtml"> <i
							class="pe-7s-note2"></i>
							<p>Encomendas</p>
					</a></li>
					<li><a href="produtos.xhtml"> <i class="pe-7s-box1"></i>
							<p>Produtos</p>
					</a></li>
					<li><a href="ingredientes.xhtml"> <i class="pe-7s-news-paper"></i>
							<p>Ingredientes</p>
					</a></li>
					<li><a href=""> <i class="pe-7s-note2"></i>
							<p>Receitas</p>
					</a></li>
					<li><a href="compras.xhtml"> <i class="pe-7s-cart"></i>
							<p>Compras</p>
					</a></li>
					
					<li><a href="feedbacks.xhtml"> <i class="pe-7s-chat"></i>
							<p>Feedbacks</p>
					</a></li>
					

				</ul>
			</div>
		</div>
		
</ui:composition>
