<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>


<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Feedbacks</h4>
							</div>
							<div class="content">
								<div class="card-body">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-3 col-sm-3 col-sx-3 col-lg-3">
												<div class="card">
													<div class="content">
														<h5>E-mail</h5>
														<p class="card-text">Mensagem de Feedback</p>
														<span class="text-muted">Data</span>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-sm-3 col-sx-3 col-lg-3">
												<div class="card">
													<div class="content">
														<h5>E-mail</h5>
														<p class="card-text">Mensagem de Feedback</p>
														<span class="text-muted">Data</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>
	</div>


</h:body>

</html>