
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


	<!-- Footer -->
	<footer class="footer">
		<div class="container-fluid">
			<p class="copyright pull-right">
				<script>document.write(new Date().getFullYear())</script>
				<a>Nanny Truffas</a> , Sistema de encomendas
			</p>
		</div>
	</footer>
	<!-- Footer -->


	<!--   Core JS Files   -->
	<script src="resources/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="resources/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Charts Plugin -->
	<script src="resources/js/chartist.min.js"></script>

	<!--  Notifications Plugin    -->
	<script src="resources/js/bootstrap-notify.js"></script>

	<!--  Google Maps Plugin    -->
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

	<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="resources/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="resources/js/demo.js"></script>


</ui:composition>