<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>

<style>
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 10% auto auto;
	padding: 45px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.1);
}

.form:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
}
</style>

<h:body>

	<div class="container">
		<div class="form">
			<h:form name="sentMessage" id="contactForm" novalidate="">
				<div class="row">
					<i class="pe-7s-user" style="font-size: 60px;"></i>
				</div>
				<br></br>
				<div class="row">
					<div class="col-md-auto">
						<div class="form-group">
							<h:inputText type="text" class="form-control" placeholder="Login"
								id="login" required=""
								data-validation-required-message="Insira seu usuario"
								value="#{loginController.login.usuario}">
								<f:passThroughAttribute name="placeholder"
									value="Digite seu usuário" />
							</h:inputText>
							<p class="help-block text-danger"></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-auto">
						<div class="form-group">
							<h:inputText type="password" class="form-control"
								placeholder="Senha" id="senha" required=""
								data-validation-required-message="Insira sua senha"
								value="#{loginController.login.senha}">
								<f:passThroughAttribute name="placeholder"
									value="Digite a sua senha" />
								<f:passThroughAttribute name="type" value="password" />
							</h:inputText>
							<p class="help-block text-danger"></p>
						</div>
					</div>
				</div>
				<div class="row">
					<h:commandButton class="btn btn-success btn-fill btn-block"
						type="submit" action="#{loginController.logar}" value="Logar" />
				</div>

			</h:form>
		</div>
	</div>
</h:body>

</html>