<?xml version="1.0" ?>
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<ui:include src="head.xhtml" />
</h:head>

<h:body>

	<div class="wrapper">
		<ui:include src="menu.xhtml" />
		<div class="main-panel">
			<ui:include src="menu2.xhtml" />
			<div class="content">

				<div class="container-fluid">
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Produto</h4>
							</div>
							<div class="content">
								<h:form>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>Nome</label>
												<h:inputText class="form-control" type="text"
													value="#{produtoController.prod.nome}"></h:inputText>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label>Preço unitario</label>
												<h:inputText class="form-control" type="text"
													value="#{produtoController.prod.preco_unitario}">
													
												</h:inputText>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label>Preço por cento</label>
												<h:inputText class="form-control" type="text"
													value="#{produtoController.prod.preco_cento}">
													
												</h:inputText>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-3">
											<label>Tipo do produto</label>
											<h:selectOneMenu id="tipo" class="form-control custom-select"
												value="#{produtoController.categoriaId}">
												<f:selectItem
													itemLabel="#{produtoController.prod.tipo.nome}"
													noSelectionOption="false" />
												<f:selectItems value="#{produtoController.todosTipoProduto}"
													var="tipo" itemLabel="#{tipo.nome}" itemValue="#{tipo.id}" />
											</h:selectOneMenu>
										</div>
									</div>

									<h:commandButton class="btn btn-success btn-fill pull-right btn-sm"
										type="submit" action="#{produtoController.gravar}" value="#{(produtoController.prod.id == null)?'Cadastrar':'Atualizar'}"></h:commandButton>
									<div class="clearfix"></div>
									
								</h:form>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="card">
							<div class="header">
								<h4 class="title">Produtos</h4>
							</div>
							<div class="card-body">
								<div class="content table-responsive table-full-width">
								<h:form>
									<h:dataTable var="p"
										class="table table-hover table-striped table-responsive-sm"
										value="#{produtoController.todosProdutos}">
										<h:column>
											<f:facet name="header">Nome</f:facet>
											<h:outputText value="#{p.nome}" />
										</h:column>

										<h:column>
											<f:facet name="header">Preço unitário</f:facet>
											<h:outputText value="#{p.preco_unitario}"></h:outputText>
										</h:column>
										<h:column>
											<f:facet name="header">Preço por cento</f:facet>
											<h:outputText value="#{p.preco_cento}"></h:outputText>
										</h:column>

										<h:column>
											<f:facet name="header">Tipo</f:facet>
											<h:outputText value="#{p.tipo.nome}"></h:outputText>
										</h:column>

										<h:column>
											<f:facet name="header">Atualizar</f:facet>
											<h:commandButton value="Atualiza"
												action="#{produtoController.atualiza(p)}"
												class="btn btn-primary btn-fill btn-sm" />
										</h:column>
										<h:column>
											<f:facet name="header">Excluir</f:facet>
											<h:commandButton value="Excluir"
												action="#{produtoController.remover(p)}"
												class="btn btn-danger btn-fill btn-sm" />
										</h:column>

									</h:dataTable>
									</h:form>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
			<ui:include src="footer.xhtml" />
		</div>
	</div>


</h:body>

</html>